{
  "singleQuote": true,
  "arrowParens": "always",
  "useTabs": false,
  "trailingComma": "es5",
  "printWidth": 140,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cx", "cva"]
}
